<!DOCTYPE html>
<html lang="tr" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is social network html5 template available in themeforest......" />
    <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
    <meta name="robots" content="index, follow" />
    <title>Friend Finder | A Complete Social Network Template</title>

    <!-- Stylesheets
    ================================================= -->
    <link rel="stylesheet" href="https://bilge-web-statics.s3.us-east-2.amazonaws.com/bilgesocialmedia/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://bilge-web-statics.s3.us-east-2.amazonaws.com/bilgesocialmedia/css/style.css" />
    <link rel="stylesheet" href="https://bilge-web-statics.s3.us-east-2.amazonaws.com/bilgesocialmedia/css/ionicons.min.css" />
    <link rel="stylesheet" href="https://bilge-web-statics.s3.us-east-2.amazonaws.com/bilgesocialmedia/css/font-awesome.min.css" />

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="https://bilge-web-statics.s3.us-east-2.amazonaws.com/bilgesocialmedia/images/fav.png"/>
</head>
<body>

<!-- Header
================================================= -->
<header id="header-inverse">
    <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index-register.html"><img src="https://bilge-web-statics.s3.us-east-2.amazonaws.com/bilgesocialmedia/images/logo.png" alt="logo" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right main-menu">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <span><img src="https://bilge-web-statics.s3.us-east-2.amazonaws.com/bilgesocialmedia/images/down-arrow.png" alt="" /></span></a>
                        <ul class="dropdown-menu newsfeed-home">
                            <li><a href="index.html">Landing Page 1</a></li>
                            <li><a href="index-register.html">Landing Page 2</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Newsfeed <span><img src="https://bilge-web-statics.s3.us-east-2.amazonaws.com/bilgesocialmedia/images/down-arrow.png" alt="" /></span></a>
                        <ul class="dropdown-menu newsfeed-home">
                            <li><a href="newsfeed.html">Newsfeed</a></li>
                            <li><a href="newsfeed-people-nearby.html">Poeple Nearly</a></li>
                            <li><a href="newsfeed-friends.html">My friends</a></li>
                            <li><a href="newsfeed-messages.html">Chatroom</a></li>
                            <li><a href="newsfeed-images.html">Images</a></li>
                            <li><a href="newsfeed-videos.html">Videos</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Timeline <span><img src="https://bilge-web-statics.s3.us-east-2.amazonaws.com/bilgesocialmedia/images/down-arrow.png" alt="" /></span></a>
                        <ul class="dropdown-menu login">
                            <li><a href="timeline.html">Timeline</a></li>
                            <li><a href="timeline-about.html">Timeline About</a></li>
                            <li><a href="timeline-album.html">Timeline Album</a></li>
                            <li><a href="timeline-friends.html">Timeline Friends</a></li>
                            <li><a href="edit-profile-basic.html">Edit: Basic Info</a></li>
                            <li><a href="edit-profile-work-edu.html">Edit: Work</a></li>
                            <li><a href="edit-profile-interests.html">Edit: Interests</a></li>
                            <li><a href="edit-profile-settings.html">Account Settings</a></li>
                            <li><a href="edit-profile-password.html">Change Password</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle pages" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">All Pages <span><img src="https://bilge-web-statics.s3.us-east-2.amazonaws.com/bilgesocialmedia/images/down-arrow.png" alt="" /></span></a>
                        <ul class="dropdown-menu page-list">
                            <li><a href="index.html">Landing Page 1</a></li>
                            <li><a href="index-register.html">Landing Page 2</a></li>
                            <li><a href="newsfeed.html">Newsfeed</a></li>
                            <li><a href="newsfeed-people-nearby.html">Poeple Nearly</a></li>
                            <li><a href="newsfeed-friends.html">My friends</a></li>
                            <li><a href="newsfeed-messages.html">Chatroom</a></li>
                            <li><a href="newsfeed-images.html">Images</a></li>
                            <li><a href="newsfeed-videos.html">Videos</a></li>
                            <li><a href="timeline.html">Timeline</a></li>
                            <li><a href="timeline-about.html">Timeline About</a></li>
                            <li><a href="timeline-album.html">Timeline Album</a></li>
                            <li><a href="timeline-friends.html">Timeline Friends</a></li>
                            <li><a href="edit-profile-basic.html">Edit Profile</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                            <li><a href="faq.html">FAQ Page</a></li>
                            <li><a href="404.html">404 Not Found</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="contact.html">Contact</a></li>
                </ul>
                <form class="navbar-form navbar-right hidden-sm">
                    <div class="form-group">
                        <i class="icon ion-android-search"></i>
                        <input type="text" class="form-control" placeholder="Search friends, photos, videos">
                    </div>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</header>
<!--Header End-->

<!-- Landing Page Contents
================================================= -->
<div id="lp-register">
    <div class="container wrapper">
        <div class="row">
            <div class="col-sm-5">
                <div class="intro-texts">
                    <h1 class="text-white">Make Cool Friends !!!</h1>
                    <p>Friend Finder is a social network template that can be used to connect people. The template offers Landing pages, News Feed, Image/Video Feed, Chat Box, Timeline and lot more. <br /> <br />Why are you waiting for? Buy it now.</p>
                    <button class="btn btn-primary">Learn More</button>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                <div class="reg-form-container">

                    <!-- Register/Login Tabs-->
                    <div class="reg-options">
                        <ul class="nav nav-tabs">

                            <li class="active"><a href="#login" data-toggle="tab">Login</a></li>
                        </ul><!--Tabs End-->
                    </div>

                    <!--Registration Form Contents-->
                    <div class="tab-content">

                        <!--Login-->
                        <div class="tab-pane active" id="login">
                            <h3>Login</h3>
                            <p class="text-muted">Log into your account</p>

                            <!--Login Form-->
                            <form name="Login_form" id='Login_form' action="/login"
                            method="post">
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <label for="my-email" class="sr-only">Email</label>
                                        <input id="my-email"
                                               class="form-control input-group-lg"
                                               type="text" name="username" title="Enter Email"
                                               placeholder="Your Email"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <label for="my-password" class="sr-only">Password</label>
                                        <input id="my-password"
                                               class="form-control input-group-lg"
                                               type="password" name="password"
                                               title="Enter password" placeholder="Password"/>
                                    </div>
                                </div>
                                <label style="color: red" th:text="${loginerror}"></label>
                                <p><a href="#">Forgot Password?</a></p>
                                <button class="btn btn-primary" type="submit">Login Now</button>
                            </form><!--Login Form Ends-->

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--preloader-->
<div id="spinner-wrapper">
    <div class="spinner"></div>
</div>


<!-- Scripts
================================================= -->
<script src="https://bilge-web-statics.s3.us-east-2.amazonaws.com/bilgesocialmedia/js/jquery-3.1.1.min.js"></script>
<script src="https://bilge-web-statics.s3.us-east-2.amazonaws.com/bilgesocialmedia/js/bootstrap.min.js"></script>
<script src="https://bilge-web-statics.s3.us-east-2.amazonaws.com/bilgesocialmedia/js/jquery.appear.min.js"></script>
<script src="https://bilge-web-statics.s3.us-east-2.amazonaws.com/bilgesocialmedia/js/jquery.incremental-counter.js"></script>
<script src="https://bilge-web-statics.s3.us-east-2.amazonaws.com/bilgesocialmedia/js/script.js"></script>
<script>
    function resim_sec() {
        var resim = document.getElementById("input_resim_id");
        resim.click();
    }
    const fileIn = document.getElementById('input_resim_id'); // input bileşeni, yani resmi seçtimiz bileşen
        fileOut = document.getElementById('profile_resim_id');// resim bileşeni
    const readUrl = event => {
        if(event.files && event.files[0]) {
            let reader = new FileReader();
            reader.onload = event => fileOut.src = event.target.result;
            reader.readAsDataURL(event.files[0])
        }
    }
    fileIn.onchange = function() {
        readUrl(this);
    };
</script>
</body>

</html>
